@import "tailwindcss";
body {
  overflow-x: hidden;
}


.shimmer-text {
  background: linear-gradient(
    -60deg,
    #ca8a04 20%,
    #facc15 40%,
    #fde68a 50%,   /* softer pale yellow in the middle */
    #facc15 60%,
    #ca8a04 80%
  );
  background-size: 300% 100%;

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  animation: shimmer 4s ease-in-out infinite;
}

@keyframes shimmer {
  from {
    background-position: 100% 0;
  }
  to {
    background-position: -100% 0;
  }
}
